<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Michael Maldonado">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="development, product, manager, program manager, team lead, web, software, engineer, develop, design" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Michael Maldonado">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="https://maldo.co/article-banner.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Michael Maldonado" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://maldo.co/" />
<meta property="og:image" content="https://maldo.co/og-banner.jpg" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="Michael" />
<meta property="article:published_time" content="2022-11-08T01:00:00-08:00" />
<meta property="article:modified_time" content="2018-11-08T01:00:00-08:00" />
<meta property="article:section" content="Technology" />
<meta property="article:tag" content="development, product, manager, program manager, team lead, web, software, engineer, develop, design" />