$icomoon-font-family: "austinp" !default;
$icomoon-font-path: "../fonts" !default;

$icon-amazon_logo-path1: "\e904";
$icon-amazon_logo-path2: "\e905";
$icon-filmhub: "\e900";
$icon-kpinsonstairs: "\e901";
$icon-nfx: "\e902";
$icon-opto22: "\e903";

