<!DOCTYPE html>
<html lang="en">
<head>
  {% include _meta.html %}
  <title>Michael Maldonado</title>
  {% include _css.html %}
</head>

<body data-spy="scroll" data-offset="51">
	<script type="in/Login" ></script>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center wrap">
				<img src="../assets/images/profile_img.jpg" class="img-responsive img-circle center-block img-profile" alt="Responsive image">
				<h1 class="name text-blue">Michael</h1>
				<div class="container-fluid">
					<address>
						<div class="col-sm-6 contact">
							<span class="address">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="locality"> Murrieta</span>, <abbr class="region">CA</abbr>
							</span>
						</div>
						<div class="col-sm-6 contact">
							<a href="mailto:michael@maldo.co">
								<span class="email">
									<span class="glyphicon glyphicon-envelope"></span>
									<span class="text"> michael@maldo.co</span>
								</span>
							</a>
						</div>
					</address>
				</div>
			  <p class="summary">
			    A strategic project and product manager that is detail-oriented, obsessed with data, driven by results, and consumed by metrics. I have over 6 years of experience and a deep passion for software, project management, analytics and design.
			  </p>
			  <div class="container-fluid">
					<div class="col-sm-12 social">
						<span>
							<a class="linkedin" href="https://www.linkedin.com/in/micmaldo/" target="_blank">
								<i class="fa fa-linkedin-square" aria-hidden="true"></i>
								<span class="text"> /in/micmaldo</span>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>

		{% include _footer.html %}
	</div>
<canvas id="background-image"></canvas>
{% include _js.html %}
</body>
</html>
